<div class="auth">
    <div class="auth-component">
      <img src="/assets/images/logo1.svg" alt="logo" class="logo__img" height="60px" />
      <h1 class="logo__header">Business ERP</h1>
      <router-outlet></router-outlet>
    </div>
  
    <div class="welcome">
      <h1> Welcome to</h1>
      <h1 class="welcome__heading">ERP Platform</h1>
      <br />
      <span class="welcome__text"> where efficiency meets innovation. Explore our comprehensive suite of tools designed to streamline your business operations and empower your team to achieve greater success. Whether you're managing customer relationships, tracking sales, or optimizing workflows, we're here to help you every step of the way. Let's embark on this journey together towards excellence. </span>
    </div>
  </div>
  